@model Repository.ViewModel.MenuItemViewModel;

<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content w-100">
        <div class="modal-header">
            <h5 class="modal-title" id="modifierModalLabel">Update Modifier</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body w-100">
            <form id="EditModifierForm" asp-controller="Menu" asp-action="EditModifier" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <button
                            class=" form-control  text-start dropdown-toggle"
                            type="button" id="modifierGroupDropdown" 
                            style="height: 57px; !important"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Modifier Group(s)
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="modifierGroupDropdown">
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" id="selectAll">
                                    <strong>Select All</strong>
                                </label>
                            </li>
                            <hr>
                            <div id="multipleModifierGroups">
                                @foreach (var modifierGroup in Model.ModifierGroups)
                                {
                                    <li>
                                        <label class="dropdown-item">
                                            <input type="checkbox" name="Ids" data-id="@modifierGroup.ModifierGroupId"  class="modifier-checkbox"
                                                value="@modifierGroup.ModifierGroupId">
                                            @modifierGroup.modifierGroupName
                                        </label>
                                    </li>
                                }
                            </div>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Name1" name="Modifiers[0].Name" value="@Model.Modifiers.FirstOrDefault()?.Name" placeholder="Name">
                            <label for="name">Name</label>
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="Rate1" name="Modifiers[0].Rate" value="@Model.Modifiers.FirstOrDefault()?.Rate" placeholder="Rate"
                                value="0">
                            <label for="rate">Rate</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="Quantity1" name="Modifiers[0].Quantity" value="@Model.Modifiers.FirstOrDefault()?.Quantity"
                                placeholder="Quantity" value="0">
                            <label for="quantity">Quantity</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="Unit1" name="Modifiers[0].Unit" aria-label="Select Unit">
                                <option selected>@Model.Modifiers.FirstOrDefault().Unit</option>
                                <option value="kg">Kg</option>
                                <option value="g">Gram</option>
                                <option value="ltr">Litre</option>
                            </select>
                            <label for="unit">Unit</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mt-3">
                    <textarea class="form-control" id="Description1" name="Modifiers[0].Description"
                        placeholder="Description">@Model.Modifiers.FirstOrDefault()?.Description</textarea>
                    <label for="description">Description</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>